body { /* the body method */
background: white;/* #C7C1C1 makes background grey */
/*text-align: left; /* Alignes all text to the left */
/* Padding and Margin are being reset below. This was done so that the browser padding and margin is reset to 0 to make it all equal.  */
padding: 0;
margin:0;
font-family: "merriweather";
font-size: 14pt;

}

#bar{
  width: 100%;
  background-color: white;

  padding: 20px;
  padding-bottom: 2px;
  padding-left: 20px; /* adds the spacing on the left of the Flags H1. */
  margin-top: -307px;
  border-bottom: 1px solid black;
  position: relative;
  position: fixed;
  -webkit-box-shadow: 10px 10px 25px 0px rgba(66,65,66,0.62);
  -moz-box-shadow: 10px 10px 25px 0px rgba(66,65,66,0.62);
  box-shadow: 10px 10px 25px 0px rgba(66,65,66,0.62);

}
#login{
  margin-left: 100px;
  margin-top: 300px;
  margin-bottom: -300px;
  font-family: "marriweather";
}
#loginbox{
  border: 1px solid black;
  background-color: #CCCCCC;
  margin-left: 100px;
  margin-top: 300px;
  border-radius: 5px;
  width: 40%;
  padding-top: 30px;
  padding-left: 25px;
  padding-bottom: 30px;
  -webkit-box-shadow: 10px 10px 25px 0px rgba(66,65,66,0.62);
  -moz-box-shadow: 10px 10px 25px 0px rgba(66,65,66,0.62);
  box-shadow: 10px 10px 25px 0px rgba(66,65,66,0.62);
}


a{
  text-decoration: none;
}

#r{
  text-decoration: underline;
  font-weight: bold;
}
.mySlides {
  display: none;
}
#forgot{
  font-weight: bold;
}
#forgot:hover{
  font-style: italic;
  text-decoration: underline;
  font-weight: lighter;
}

.move{
  margin-left: 600px;
  margin-top: -300px;
}

.Incorrect{
  color: RED;
}
#password{
  margin-left: 6px;
}
