body { /* the body method */
background: white;/* #C7C1C1 makes background grey */
/*text-align: left; /* Alignes all text to the left */
/* Padding and Margin are being reset below. This was done so that the browser padding and margin is reset to 0 to make it all equal.  */
padding: 0;
margin:0;
font-family: "merriweather";
font-size: 14pt;
}

#bar{
  width: 100%;
  background-color: white;
  padding: 20px;
  padding-bottom: 2px;
  padding-left: 20px; /* adds the spacing on the left of the Flags H1. */
  margin-top: -190px;
  border-bottom: 1px solid black;
  position: relative;
  position: fixed;
  -webkit-box-shadow: 10px 10px 25px 0px rgba(66,65,66,0.62);
  -moz-box-shadow: 10px 10px 25px 0px rgba(66,65,66,0.62);
  box-shadow: 10px 10px 25px 0px rgba(66,65,66,0.62);
}

.content{
  border: 1px solid black;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 190px;
  margin-left: 420px;
  width: 500px;
  border-radius: 5px;
  -webkit-box-shadow: 10px 10px 25px 0px rgba(66,65,66,0.62);
  -moz-box-shadow: 10px 10px 25px 0px rgba(66,65,66,0.62);
  box-shadow: 10px 10px 25px 0px rgba(66,65,66,0.62);
  padding-bottom: 35px;
}

p{
  margin-left: 75px;
}

#checked{
  margin-left: 105px;
}

h1{
  margin-left: 15px;
}



input[type=submit]{
  margin-left: 200px;
  border: none;
  border-radius: 5px;
  font-family: "marriweather";
  font-size: 25px;
  margin-top: -25px;

}
input[type=submit]:hover{
  cursor: pointer;
}
